.tabela-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-escura);
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;

}

.tabela{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 0.9vw;
    
}
.tabela div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2% 0%;
    color: var(--cor-texto);
}
.tabela:nth-child(even){
    background-color: var(--cor-tabela-stripe);
}
.thead{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid var(--dourado);
    color: var(--cor-texto);
}
.thead div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 1% 0%;
    font-size: 1vw;
    text-align: center;
}